.clock {
  vertical-align: baseline;
  text-align: right;
  position: absolute;
  bottom: 25px;
  right: 25px;
  opacity: 1;
}
.clock > p {
  font-size: 3em;
}

.clock__hangul {
  font-size: 2em;
}

@media only screen and (max-width: 768px) {
	.clock {
		position: static;
	}
}