.clock {
  position: sticky;
  vertical-align: baseline;
  text-align: right;
  bottom: 25px;
  margin-right: 25px; 
  opacity: 1;
}
.clock > p#clock {
  font-size: 4em;
}

p#clock.clock__hangul {
  font-size: 2em;
}

@media only screen and (max-width: 768px) {
	.clock {
		opacity: 0.5;
	}
  .clock > p#clock {
    font-size: 5em;
  }
  p#clock.clock__hangul {
    font-size: 4em;
  }
}