.js-header {
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  min-height: 1.5em;
  background-color: transparent;
  transition: background-color 0.5s linear;
  margin-bottom: 1em;
  padding: 1em;
}

@media only screen and (max-width: 768px) {
	.js-header {
		height: 140px;
		flex-direction: column;
	}
	.js-header .head-center {
    display: block;
    width: 100%;
	}
}
