.location {
  opacity: 0.5;
  transition: opacity 0.3s ease-in;
  font-style: italic;
  font-size: 12px;
  position: sticky;
  bottom: 25px;
  margin-left: 25px;
}

.location:hover {
  opacity: 1;
}

@media only screen and (max-width: 768px) {
	.location {
		position: static;
	}
}