.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center .list {
  margin-bottom: 20px;
}

.center .toDo {
  font-size: 22px;
}

.center .toDo__button {
  margin-right: 10px;
  cursor: pointer;
}